# Models

The Inspetor Library provides a set of classes that are used to structure the information required by our fraud prevention platform.

In our current PHP implementation, we suggest using the pre-built `get` accessor methods that are available in the InspetorClient class to get an instance of a given class. Thus you can access every model without having to import every class.

<aside class="notice">
Most models have some optional properties, but it's important that you try to send us as much information as you can. The more information our models have to work with, the better your results will be.
</aside>

<p><%= partial "modules/models/account.md.erb" %></p>
<p><%= partial "modules/models/address.md.erb" %></p>
<p><%= partial "modules/models/auth.md.erb" %></p>
<p><%= partial "modules/models/category.md.erb" %></p>
<p><%= partial "modules/models/creditcard.md.erb" %></p>
<p><%= partial "modules/models/event.md.erb" %></p>
<p><%= partial "modules/models/item.md.erb" %></p>
<p><%= partial "modules/models/passrecovery.md.erb" %></p>
<p><%= partial "modules/models/payment.md.erb" %></p>
<p><%= partial "modules/models/sale.md.erb" %></p>
<p><%= partial "modules/models/session.md.erb" %></p>
<p><%= partial "modules/models/transfer.md.erb" %></p>





















